@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: flex;
  justify-content: center;
  padding: 2px 0px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1220px;
  }
  &__text {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__paragraph {
    font-size: 16px;
  }
  &__contact {
    display: flex;
    font-weight: bold;
    gap: 8px;
  }
  @include respond-to(lg) {
    padding: 2px 24px;
    &__paragraph {
      display: none;
    }
  }
}
